@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
a{
  text-decoration: none;
  color: black;
}
li{
  list-style-type: none;
}
*{
    font-family: 'Josefin Sans', sans-serif!important;
  }